@page "/plugins/podserver"
@model BTCPayServer.Plugins.PodServer.Pages.IndexModel

@{
    ViewData.SetActivePage(PodServerNavPages.Index, "PodServer");
}

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>

<p>Self-host your podcast and start Podcasting 2.0 like a pro.</p>
