[submodule "Plugins/BTCPayServer.Plugins.LNbank"]
	path = Plugins/BTCPayServer.Plugins.LNbank
	url = git@github.com:dennisreimann/btcpayserver-plugin-lnbank.git
[submodule "Plugins/BTCPayServer.Plugins.PodServer"]
	path = Plugins/BTCPayServer.Plugins.PodServer
	url = git@github.com:dennisreimann/btcpayserver-plugin-podserver.git
