<li class="nav-item">
    <a href="/plugins/lnbank/wallets" class="nav-link js-scroll-trigger @ViewData.IsActiveCategory(typeof(LNbankNavPages))" id="Nav-LNbank">
        <svg role="img" class="icon icon-lnbank"><use href="/Resources/img/icon-sprite.svg#lnbank"></use></svg>
        <span>LNbank</span>
    </a>
</li>
