@page "/plugins/lnbank/wallets/{walletId}/delete"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.DeleteModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallets, $"Delete \"{Model.Wallet.Name}\"");
}

<partial name="_WalletHeader" model="Model.Wallet"/>

<p>Are you sure you want to delete this wallet?</p>
    
<form method="post">
    <input type="submit" value="Delete" class="btn btn-danger" id="LNbank-Delete" />
</form>
