@page "/plugins/lnbank/wallets"
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.IndexModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallets, "LNbank Wallets");
}

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>

<ul class="nav flex-column" id="LNbank-Wallets" style="max-width:16rem;">
    @foreach (var wallet in Model.Wallets)
    {
        <li class="nav-item mb-3">
            <a asp-page="./Wallet"  asp-route-walletId="@wallet.WalletId" class="nav-link d-flex align-items-center justify-content-between p-0">
                <span class="wallet-name me-2">@wallet.Name</span>
                <span class="badge bg-light">
                    @Helpers.Sats(wallet.Balance)
                </span>
            </a>
        </li>
    }
    <li class="nav-item">
        <a asp-page="./Create" class="nav-link p-0" id="LNbank-CreateWallet">
            Create a wallet
        </a>
    </li>
</ul>
