@page "/plugins/lnbank/wallets/{walletId}/receive"
@using LNURL
@model BTCPayServer.Plugins.LNbank.Pages.Wallets.ReceiveModel

@{
    ViewData.SetActivePage(LNbankNavPages.Wallet, "Receive", Model.Wallet.WalletId);
    var endpoint = new Uri($"{Request.Scheme}://{Request.Host}{Request.PathBase.ToUriComponent()}/api/v1/lnbank/lnurl/{Model.Wallet.WalletId}");
    var lnurl = LNURL.EncodeUri(endpoint, "payRequest", true);
}

@section LNbankFoot {
    <partial name="_ValidationScriptsPartial" />
}

<partial name="_WalletHeader" model="Model.Wallet"/>

@if (!ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger mb-4"></div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" autofocus style="max-width:70ch;" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
      <input asp-for="AttachDescription" class="form-check-input" type="checkbox">
      <label asp-for="AttachDescription" class="form-label"></label>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="form-label" data-required></label>
        <input asp-for="Amount" class="form-control text-end hide-number-spin" type="number" style="width:15ch;" required />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group my-4 d-flex align-items-center">
        <input asp-for="PrivateRouteHints" type="checkbox" class="btcpay-toggle me-2"/>
        <label asp-for="PrivateRouteHints" class="form-label mb-0"></label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create invoice" class="btn btn-primary" id="LNbank-CreateInvoice" />
    </div>
</form>

<h4 class="mt-5">LNURL</h4>
<p>Alternatively you can use this LNURL to receive to your wallet.</p>
<div class="qrcode">
    <a href="@lnurl" rel="noreferrer noopener">
        @await Component.InvokeAsync("QRCode", new { data = lnurl.ToString().ToUpperInvariant() })
    </a>
</div>
