@page "/plugins/podserver/podcasts/{podcastId}/edit"
@model BTCPayServer.Plugins.PodServer.Pages.Podcasts.EditModel

@{
    ViewData.SetActivePage(PodServerNavPages.EditPodcast, Model.Podcast.Title);
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<form method="post">
    <div class="sticky-header-setup"></div>
    <div class="sticky-header d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <button type="submit" class="btn btn-primary" id="Save">Save</button>   
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-xxl-constrain">
            <partial name="_StatusMessage" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Podcast.Title" class="form-label"></label>
                <input asp-for="Podcast.Title" class="form-control" required />
                <span asp-validation-for="Podcast.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Language" class="form-label"></label>
                <select asp-for="Podcast.Language" asp-items="Helpers.LanguageOptions" class="form-select" required></select>
                <span asp-validation-for="Podcast.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Category" class="form-label"></label>
                <select asp-for="Podcast.Category" asp-items="Helpers.CategoryOptions" class="form-select" required></select>
                <span asp-validation-for="Podcast.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Description" class="form-label"></label>
                <textarea asp-for="Podcast.Description" class="form-control" rows="3" required></textarea>
                <span asp-validation-for="Podcast.Description" class="text-danger"></span>
            </div>
            
            <h3 class="mt-5 mb-4">Additional information</h3>
            <div class="form-group">
                <label asp-for="Podcast.Owner" class="form-label"></label>
                <input asp-for="Podcast.Owner" class="form-control">
                <span asp-validation-for="Podcast.Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Email" class="form-label"></label>
                <input asp-for="Podcast.Email" class="form-control">
                <span asp-validation-for="Podcast.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Url" class="form-label"></label>
                <input asp-for="Podcast.Url" class="form-control">
                <span asp-validation-for="Podcast.MainImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.MainImage" class="form-label"></label>
                <input type="file" asp-for="Podcast.MainImage" class="form-control">
                <span asp-validation-for="Podcast.MainImage" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
