@page "/plugins/podserver/podcasts/{podcastId}/episodes/{episodeId}/edit"
@using BTCPayServer.Abstractions.Contracts
@using System.Globalization
@model BTCPayServer.Plugins.PodServer.Pages.Episodes.EditModel
@inject IFileService _fileService

@{
    ViewData.SetActivePage(PodServerNavPages.EditPodcast, Model.Episode.Title);
}

@section Styles {
    <link href="~/vendor/summernote/summernote-bs5.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .flatpickr-wrapper { flex-grow: 1; }
    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/vendor/summernote/summernote-bs5.js" asp-append-version="true"></script>
}

<form method="post" enctype="multipart/form-data">
    <div class="sticky-header-setup"></div>
    <div class="sticky-header d-sm-flex align-items-center justify-content-between">
        <h2 class="mb-0">@ViewData["Title"]</h2>
        <div class="d-flex gap-3 mt-3 mt-sm-0">
            <button type="submit" class="btn btn-primary" id="Save">Save</button>   
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-xxl-constrain">
            <partial name="_StatusMessage" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Episode.Title" class="form-label" data-required></label>
                <input asp-for="Episode.Title" class="form-control" required />
                <span asp-validation-for="Episode.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Episode.Description" class="form-label" data-required></label>
                <textarea asp-for="Episode.Description" class="form-control richtext" rows="15" cols="40" required></textarea>
                <span asp-validation-for="Episode.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Episode.PublishedAt" class="form-label"></label>
                <div class="input-group flex-nowrap">
                    <input type="datetime-local" asp-for="Episode.PublishedAt"
                           value="@(Model.Episode.PublishedAt?.ToString("u", CultureInfo.InvariantCulture))"
                           class="form-control flatdtpicker"
                           placeholder="No publish date has been set" />
                    <button class="btn btn-secondary input-group-clear" type="button" title="Clear">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <span asp-validation-for="Episode.PublishedAt" class="text-danger"></span>
            </div>
            
            <h3 class="mt-5 mb-4">Additional information</h3>
            <div class="form-group">
                <label asp-for="Episode.Number" class="form-label"></label>
                <input asp-for="Episode.Number" class="form-control" type="number">
                <span asp-validation-for="Episode.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ImageFile" class="form-label">Cover Image</label>
                @if (!string.IsNullOrEmpty(Model.Episode.ImageFileId))
                {
                    <img src="@(await _fileService.GetFileUrl(Request.GetAbsoluteRootUri(), Model.Episode.ImageFileId))" alt="@Model.Episode.Title" style="max-width: 200px;max-height: 200px;" class="d-block mb-3"/>
                }
                <input id="ImageFile" name="ImageFile" type="file" class="form-control">
            </div>
        </div>
    </div>
</form>
